.init-form__block{
  display: flex;
}

.init-form__block>div{
  margin-right: 50px;
}

.init-form__picture{
  width: 120px;
  height: 120px;
  border: 1px dashed gainsboro;
  cursor: pointer;
}

.init-form__picture:hover {
  border-color: #409EFF;
}

.init-form__picture i{
  font-size: 28px;
  color: #8c939d;
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
}

.init-form__picture img{
  width: 100%;
  height: 100%;
}
